a {
  color: #11999E;
  font-family: 'merriweather' ,serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color:  #EAF6F6;
}

body {
  color: #40514E;
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 100%;
}

.circular {
  border-radius: 50%;
}

.skills {
  border-radius: 100%;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.codea {
  float: left;
  border-radius: 100%;
  margin: 30px;
}

.codeb {
  float: right;
  border-radius: 100%;
  margin: 30px;
}

hr {
  border: dotted #EAF6F6 6PX;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

H1 {
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 autos;
  color: #66bfbf;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
  line-height: 2;
}

.top-cointainer {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px auto 100px auto;
}

.intro {
  width: 30%;
  margin: auto;
}

.bottom-container {
  background-color: #66BFBF;
  margin: 40px auto 0 auto;
  padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}
.contact-message{
  width: 20%;
  margin: 40px auto 60px;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0px;
}
.btn {
  background: #1cdb1c;
  background-image: -webkit-linear-gradient(top, #1cdb1c, #16732f);
  background-image: -moz-linear-gradient(top, #1cdb1c, #16732f);
  background-image: -ms-linear-gradient(top, #1cdb1c, #16732f);
  background-image: -o-linear-gradient(top, #1cdb1c, #16732f);
  background-image: linear-gradient(to bottom, #1cdb1c, #16732f);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #2ec231;
  background-image: -webkit-linear-gradient(top, #2ec231, #34d934);
  background-image: -moz-linear-gradient(top, #2ec231, #34d934);
  background-image: -ms-linear-gradient(top, #2ec231, #34d934);
  background-image: -o-linear-gradient(top, #2ec231, #34d934);
  background-image: linear-gradient(to bottom, #2ec231, #34d934);
  text-decoration: none;
